[submodule "Dual_Quaternion_Forward_Kinematics"]
	path = Dual_Quaternion_Forward_Kinematics
	url = https://github.com/ar6841/Dual_Quaternion_Forward_Kinematics
[submodule "Dual_Quaternion_Control"]
	path = Dual_Quaternion_Control
	url = https://github.com/ar6841/Dual_Quaternion_Control
[submodule "Dual_Quaternion_Dynamics"]
	path = Dual_Quaternion_Dynamics
	url = https://github.com/ar6841/Dual_Quaternion_Dynamics
